body {
  background-color: LemonChiffon;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navajowhite;
    text-align: center;
    font-family: calibri;
}

.left {
  float: left;
}

#center {
  float: right;
}

.center {
  display: block;
  margin-left:auto;
  margin-right: auto;
}

li {
    float: left;
}

li a {
    font-size: 40px;
    display: block;
    color: indigo;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}

p{
  font-family: calibri;
  text-align: center;
  color: indigo;
  font-size: 20px;
}
